    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    
    body {
        font-family: 'Roboto';
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    @font-face {
        font-family: 'Poppins';
        src: url(../font/Poppins-Black.ttf);
    }
    
    .container {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 16px;
    }
    
    li {
        display: inline;
    }
    
    nav ul {
        display: flex;
        column-gap: 50px;
    }
    
    .btn {
        border: none;
        border: 1px solid transparent;
        transition: 0.6s;
        padding: 20px 70px;
        border-radius: 10px;
        font-size: 20px;
        color: white;
        background-color: #58A9A5;
    }
    
    .btn:hover {
        background-color: transparent;
        transition: 0.6s;
        color: #58A9A5;
        border: 1px solid #58A9A5;
    }
    
    nav ul a {
        color: #404242;
        display: inline-block;
        position: relative;
        transition: all 0.4s ease;
    }
    
    .nav {
        display: flex;
        column-gap: 190px;
        align-items: center;
    }
    
    .nav_logo {
        display: flex;
        column-gap: 20px;
    }
    
    .nav_right {
        display: flex;
        column-gap: 180px;
        align-items: center;
    }
    
    nav {
        padding: 28px 0px 15px 0px;
        /* position: fixed; */
        top: 0;
        width: 100%;
        background-color: white;
        z-index: 1;
    }
    
    nav ul a::after {
        content: " ";
        position: absolute;
        height: 2px;
        background-color: #FEC62D;
        width: 0;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%);
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
    
    nav ul a:hover {
        color: #58A9A5;
    }
    
    nav ul a:hover::after {
        width: 100%;
    }
    
    .ul_a {
        color: #58A9A5 !important;
    }
    
    .hero {
        margin-top: 100px;
        display: flex;
        align-items: center;
        column-gap: 50px;
    }
    
    .hero_img {
        position: relative;
    }
    
    .hero_img1 {
        width: 700px;
        height: 700px;
        position: relative;
    }
    
    .hero_img2 {
        position: absolute;
        width: 600px;
        height: 600px;
        top: 80px;
        left: 30px;
    }
    
    .hero_text h1 {
        width: 574px;
        font-style: normal;
        font-weight: 800;
        font-size: 70px;
        line-height: 105px;
        color: #1C2323;
    }
    
    .hero_text p {
        width: 590px;
        padding: 30px 0px 30px 0px;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        color: #404242;
    }



    .work{
        width: 100%;
        padding-bottom: 150px;
    }
    .work h1{
        width: 460px;
        font-style: normal;
        font-weight: 800;
        font-size: 70px;
        margin: 0 35%;
        line-height: 105px;
        /* text-align: center; */
        color: #1C2323;
    
    }
    .work p{
        width: 506px;
        padding: 20px 100px 70px 0px;
        font-style: normal;
        font-weight: 400;
        margin: 0 35%;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        color: #404242;
    
    }
    .work_1{
        display: flex;
       /* margin: 0 60px; */
    
    }
    .room1{
        width: 633px;
        height: 250px;
    }
    .work_1_text p{
        position: absolute;
        /* width: 608px; */
        /* padding: 20px 0px 70px 0px; */
        font-style: normal;
        margin-left: 70px;
        /* right: 10px; */
        font-weight: 500;
        font-size: 20px;
        text-align: left;
        line-height: 30px;
        color: #486958;
    
    }
    
    .work_1_text{
        position: relative;
        width: 549px;
        background: #CCF0E6;
        border-radius: 0px 10px 10px 0px;
    }
    .vector{
        position: absolute;
        width: 20px;
        left: 40%;
        top: 25%;
        
    }
    .circle1{
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: white;
        left: -20px;
        top: 54%;  
    }
    .circle{
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        opacity: 0.5;
        background-color: white;
        left: -30px;
        top: 50%; 
    }
    .work_1_text h5{
        position: absolute;
        text-align: center;
        width: 150px;
        left: 60px;
        top: 70%;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        color: #486958;
        
    }
    .work_2{
        padding: 150px 0px 120px 0px;
        display: flex;
        margin-left: 20px;
        /* column-gap: 20px; */
    }
    .work_2 h1{
        width: 487px;
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 50px;
        margin-left: 80px;
        color: #1C2323;
    
    }
    .work_2 p{
        width: 600px;
        text-align: left;
        font-style: normal;
        font-weight: 200;
        font-size: 22px;
        line-height: 40px;
        padding-top: 50px;
        margin-left: 80px;
        color: #486958;
        
    }
    .room2{
        width: 370px;
        height: 330px;
    }

    /* Ziyoda */
    .project-title {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 800;
        font-size: 50px;
        line-height: 105px;
        color: #1c2323;
        text-align: center;
      }
      .project-subtitle {
        margin-top: 5px;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 45px;
        color: #404242;
        text-align: center;
        margin-bottom: 25px;
        
      }
      .project_vector span {
          border: 5px solid #58A9A5;
          width: 100px;
          height: 2px;
          display: block;
          margin: 0 auto;
          margin-bottom: 15px;
      }
      
      .project_cards {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        gap: 60px;
      }
      /* .project_card {
        /* width: 450px;
         height: 450px;
         margin-top: 90px; */
      
      .project_card h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        color: #58a9a5;
      }
      .project_card p {
        font-style: normal;
        font-weight: 200;
        font-size: 20px;
        line-height: 30px;
        color: #486958;
        padding-top: 5px;
        width: 400px;
      }
      .project_card img {
        width: 400px;
        height: 450px;
      }
      
      /* testimonial */
      
      .testimonial{
        margin-top: 200px;
      }
      .testimonial h1{
      font-style: normal;
      font-weight: 800;
      font-size: 70px;
      line-height: 105px;
      text-align: center;
      color: #1C2323;
      }
      .testimonial_photos{
        display: flex;
        justify-content: space-between;
      }
      .testimonial_photos img{
        width: 200px;
      }
      .testimonial_work{
        display: flex;
       
      }
      .testimonial_work img{
        width: 400px;
        height: 650px;
      }
      .testimonial_work_text{
        width: 900px;
        height: 457px;
        background-color:#CCF0E6;
        margin-top: 96px;
      }
      .work_titles{
        display: flex;
        justify-content: space-evenly;
      }
      .work_titles h2{
      padding-top: 20px;
      padding-left: 20px;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 30px;
      color: #58A9A5;
      }
      .testimonial_work_img img{
        font-size: 50px;
        height: 60px;
        margin-top: 65px;
        padding-right: 200px;
        position: absolute;
        
      }
      .testimonial_work_text p{
      position: absolute;
      padding-left: 90px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #486958;
      padding-top: 100px;
      
      }
      .work_titles h3{
      padding-top: 40px;
      padding-left: 10px;
      font-style: normal;
      font-weight: 800;
      font-size: 75px;
      line-height: 30px;
      color: #58A9A5;
      }
      .work_titles_word{
        flex-direction: column;
      }
      
      
      /* Footer */
      

.btn_1 {
    position: absolute;
    bottom: 25px;
    right: 40px;
    border: none;
    border: 1px solid transparent;
    transition: 0.6s;
    padding: 20px 50px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background-color: #58A9A5;
}

.btn_1:hover {
    background-color: transparent;
    transition: 0.6s;
    color: #58A9A5;
    border: 1px solid #58A9A5;
}

.footer_hr_1 {
    margin-bottom: 15px;
    width: 120px;
    height: 5px;
    background-color: #58A9A5;
    border: none;
}

.footer_line hr {
    width: 120px;
    height: 5px;
    background-color: #58A9A5;
    border: none;
}

.section_end {
    margin-top: 200px;
    display: flex;
    column-gap: 90px;
}

.section_end_text p {
    width: 398px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #486958;
    padding: 10px 0px 30px 0px;
}

.section_end_text h1 {
    width: 398px;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 105px;
    color: #1C2323;
}

input {
    border: none;
    margin: 0 auto;
    width: 124px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #486958;
}

fieldset {
    position: relative;
    padding: 20px 40px;
}

fieldset hr {
    width: 700px;
    height: 1px;
    padding: 0px 50px;
}

.input_1 {
    padding: 40px 0px 20px 0px;
}

.input_2 {
    padding: 30px 0px 130px 0px;
}
      /* Footer */
      
      
      